<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CDI Outcome Model</title>
</head>
<body>
<h1><em>C. difficile</em> Outcome Model (version 1.12)</h1>
    <form method=post enctype=multipart/form-data>
        Age:  <input type="number" name="age"  min="0" max="150"><br>
        CDI Recurrence Number (0=initial occurrence): <input type="number" name="recurrence_number" min="0" max="100"><br>
        Duration of Any Prior Hospital Episode (0 if unavailable): <input type="number" name="previous_hospital_duration"  min="0" max="1000"><br>
        Antibiotic Days (within prior 60d): <input type="number" name="antibiotic_days" min="0" max="60"><br>
        PCR Cycle Threshold:  <input type="number" name="pcr_ct" min="0" max="37" step="any"><br>
<p></p> 
        Fever (Tmax > 100.4) (uncheck if unavailable):  <input type="checkbox" name="fever"/><br>        
        Hypotension (SBP < 90):  <input type="checkbox" name="hypotension"/><br>
        Pressors:  <input type="checkbox" name="pressors"/><br>
        WBC > 15 (uncheck if unavailable):  <input type="checkbox" name="wbc_greater_15"/><br>
        Creatinine > 1.5 (uncheck if unavailable):  <input type="checkbox" name="creatinine_greater_1_5"/><br>
        Lactate > 1.9 (uncheck if unavailable):  <input type="checkbox" name="lactate_greater_1_9"/><br>

    <p>Onset:</p>    

        <input type="radio" id="community_onset" name="onset" value="community_onset">
        <label for="community_onset">Community-Onset (Dx on hospital days 0-3 and no recent hospitalization (3mo.))</label><br>
        <input type="radio" id="community_onset_healthcare_associated" name="onset" value="community_onset_healthcare_associated">
        <label for="community_onset_healthcare_associated">Community-Onset Healthcare-Associated (Dx on hospital days 0-3 plus recent hospitalization (3mo.))</label><br>
        <input type="radio" id="hospital_onset" name="onset" value="hospital_onset">
        <label for="hospital_onset">Hospital-Onset (Dx on hospital day 4 or greater)</label>
        <p></p> 
        
        
    <p>Initial Anti-CDI Therapy:</p>    

        <input type="radio" id="vancomycin_monotherapy" name="therapy" value="vancomycin_monotherapy">
        <label for="vancomycin_monotherapy">Vancomycin Monotherapy</label><br>
        <input type="radio" id="fidaxomicin_monotherapy" name="therapy" value="fidaxomicin_monotherapy">
        <label for="fidaxomicin_monotherapy">Fidaxomicin Monotherapy</label><br>
        <input type="radio" id="metronidazole_monotherapy" name="therapy" value="metronidazole_monotherapy">
        <label for="metronidazole_monotherapy">Metronidazole Monotherapy</label><br>
        <input type="radio" id="dual_therapy" name="therapy" value="dual_therapy">
        <label for="dual_therapy">Dual Therapy (e.g., vancomycin plus metronidazole)</label><br><br>
           
        <input type=submit value=Submit>
   </form>
    
    <p><strong>CDI Outcome Predictions:</strong></p>    
     {{pred | safe}}
    <p></p> 
    <p></p> 
    <p><strong>SHapley Additive exPlanations (SHAP)</strong></p>
    
    <p><strong>Force Plot: 60-day Recurrent CDI Prediction</strong></p>   
    <img style="max-width: 95%; height: auto;" src='data:image/png;base64,{{ bytes_image_recurrence }}'/>
    
    <p><strong>Force Plot: CDI-associated Severe Outcomes (ICU, Shock, Surgery, or Death)</strong></p>   
    <img style="max-width: 95%; height: auto;" src='data:image/png;base64,{{ bytes_image_death }}'/>
    
<p></p> 
<p></p> 

    <p><em>(SHapley Additive exPlanations (SHAP) values help explain how important each of this patient's inputs were in calculating (through the deep neural network) the predicted probabilities.)
    
    Note. For boolean variables, zeroes indicate 'no' (vs. 1='yes'). Force plot 'base values' represent average model outputs from a sample of 500 cases from the training set that were used to calculate SHAP values and thus may differ slightly from expected values calculated over the entire (1,660 case) dataset, as shown in the table.</em></p>
<p></p>     
1. Lundberg et al. “A unified approach to interpreting model predictions.” Advances in Neural Information Processing Systems (2017).

</html>
    
