<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CDI Outcome Model</title>
</head>
<body>
<h1><em>C. difficile</em> Outcome Model (version 1.3)</h1>
    <form method=post enctype=multipart/form-data>
        Age:  <input type="number" name="age"  min="0" max="150"><br>
        CDI Recurrence Number (0=initial occurrence): <input type="number" name="recurrence_number" min="0" max="100"><br>
        Previous Hospital Duration (0 if unavailable): <input type="number" name="previous_hospital_duration"  min="0" max="1000"><br>

        Hypotension (SBP < 90):  <input type="checkbox" name="hypotension"/><br>
        Pressors:  <input type="checkbox" name="pressors"/><br>
        WBC > 15 (uncheck if unavailable):  <input type="checkbox" name="wbc_greater_15"/><br>        
        Creatinine > 1.5 (uncheck if unavailable):  <input type="checkbox" name="creatinine_greater_1_5"/><br>

        Lactate > 1.9 (0 if unavailable): <input type="number" name="lactate_greater_1_9" min="0" max="1"><br>
        Fever (Tmax > 100.4) (0 if unavailable):  <input type="number" name="fever" min="0" max="1"><br>
        PCR Cycle Threshold:  <input type="number" name="pcr_ct" min="0" max="37" step="any"><br>
        Antibiotic Days (within prior 60d): <input type="number" name="antibiotic_days" min="0" max="60"><br>

    <p>Onset:</p>    

        <input type="radio" id="community_onset" name="onset" value="community_onset">
        <label for="community_onset">Community-Onset (Dx on hospital days 0-3 and no recent hospitalization (3mo.))</label><br>
        <input type="radio" id="community_onset_healthcare_associated" name="onset" value="community_onset_healthcare_associated">
        <label for="community_onset_healthcare_associated">Community-Onset Healthcare-Associated (Dx on hospital days 0-3 plus recent hospitalization (3mo.))</label><br>
        <input type="radio" id="hospital_onset" name="onset" value="hospital_onset">
        <label for="hospital_onset">Hospital-Onset (Dx on hospital day 4 or greater)</label>
        <p></p> 
        
        
    <p>Initial Anti-CDI Therapy Chosen:</p>    

        <input type="radio" id="vancomycin_monotherapy" name="therapy" value="vancomycin_monotherapy">
        <label for="vancomycin_monotherapy">Vancomycin Monotherapy</label><br>
        <input type="radio" id="fidaxomicin_monotherapy" name="therapy" value="fidaxomicin_monotherapy">
        <label for="fidaxomicin_monotherapy">Fidaxomicin Monotherapy</label><br>
        <input type="radio" id="metronidazole_monotherapy" name="therapy" value="metronidazole_monotherapy">
        <label for="metronidazole_monotherapy">Metronidazole Monotherapy</label><br>
        <input type="radio" id="dual_therapy" name="therapy" value="dual_therapy">
        <label for="dual_therapy">Dual Therapy (e.g., vancomycin plus metronidazole)</label><br><br>
           
        <input type=submit value=Submit>
   </form>
    
    <p>CDI Outcome Predictions:</p>    
     {{pred | safe}}

</html>
    
